<div class="container">
    <table style="font-size:10pt; " class="table table-responsive border bg-white w-100 ">
        <thead>
            <tr class="bg-info">
                <th scope="col">id</th>
                <th scope="col"> userId</th>
                <th scope="col">title</th>
                <th scope="col">body</th>
                <th scope="col">Options</th>


            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let t of List">
                <td>{{t.id}}</td>
                <td>{{t.userId}}</td>
                <td>{{t.title}}</td>
                <td>{{t.body}}</td>
                <td class="btn-group" role="group" aria-label="Basic example">
                
                    <a  class="btn btn-success"  routerLink="/edit/{{t.id}}"  ><i class="fas fa-edit"></i></a>
                    <a  class="btn btn-danger"  (click)="delete(t.id)"  ><i class="fas fa-trash-alt"></i></a>
                    
                </td>

            </tr>
        </tbody>
    </table>
</div>